{% extends 'navBar.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div>
        <h1>Home Page</h1>
        <button class="btn btn--primary">button</button>
        <button class="btn btn--primary">Much Longer button</button>
        <button class="btn btn--primary">Super Duper Mega Much Longer button</button>
        <br>
        <button class="btn btn--secondary">button</button>
        <button class="btn btn--secondary">Much Longer button</button>
        <button class="btn btn--secondary">Super Duper Mega Much Longer button</button>
    </div>
    <div class="separator">
        <span class="separator-text">or</span>
    </div>
{% endblock %}